.new_enquiry_follow_up li,
.rmv_rept-space li {
    box-shadow: none;
}
.new_enquiry_follow_up .fi-fo-repeater-item-content,
.rmv_rept-space .fi-fo-repeater-item-content {
    padding: 0px;
}

/* div[data-field-wrapper-id="component-1.guard_name"],
div[data-field-wrapper-id*=".guard_name"] {
    display: none !important;
}

:has(> [name="guard_name"]),
:has(> * > [name="guard_name"]),
div:has(input[name="guard_name"]) {
    display: none !important;
} */

div[wire\:partial*="form.guard_name"] {
    display: none !important;
}
