{
    "general": {
        "gym_logo": [],
        "gym_name": "",
        "financial_year_start": "",
        "financial_year_end": "",
        "gym_email": "",
        "gym_contact": "",
        "address": "",
        "country": "",
        "state": "",
        "city": "",
        "zip": ""
    },
    "invoice": {
        "invoice_prefix": "",
        "invoice_last_number": "",
        "invoice_name_type": ""
    },
    "member": {
        "member_prefix": "",
        "member_last_number": ""
    }
    "charges": {
        "admission_fee": "",
        "taxes": ""
        "discount": []

    }
}