{
    "general": {
        "gym_logo": [],
        "gym_name": "",
        "financial_year_start": "",
        "financial_year_end": "",
        "gym_email": "",
        "gym_contact": "",
        "address": "",
        "country": "",
        "state": "",
        "city": "",
        "zip": ""
    },
    "invoice": {
        "prefix": "",
        "last_number": "",
        "name_type": ""
    },
    "member": {
        "prefix": "",
        "last_number": ""
    }
    "charges": {
        "admission_fee": "",
        "taxes": ""
        "discount": []

    }
}